.Container {
    /* margin : 8px;
    border :1px solid black;
    background-color: white;
    border-radius: 2px;
    width : 500px;
    height : 540px;

    display : flex;
    flex-direction: column;
    position: fixed;
    top : 40%;
    left : 70%; */
}