
.info{
    margin-left: auto;
    margin-right: auto;
    position : relative;
    transform : translated3d(0px,0px,0px);
    transition: 500ms;
    margin : 0px -6px;
    max-width: 1320px;
    z-index: 100;
}