.player{
    position: relative;
    top: 0;
}

.skeleton {
height: 160px;
 width: 500px;
 margin-bottom : 17px; 
border : 1px solid black;
border-radius: 5px;
color : dimgray;
text-align: center;
font-size: 2rem;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }