.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #181818;
    transition: transform 1s;
    transform: translateX(0);
}

.hide{
    transform: translateX(-100%);
}

.toggle{
    top: 0;
    left : 0%;
    position: fixed;
    z-index: 200;
    border : 0;
    outline:0;
    font-size: 15px;
}

.menus{
    margin-left: 2.1rem;
    font-size: 25px;
    position: fixed;
    cursor:pointer;
    color : rgb(170,170,170);
    
}
.menus> p:hover{
    color : white;
    transition: color 0.3s ease;
}



  